YahooFinanceDataScraper/stock_market_data-BIAF.csv
YahooFinanceDataScraper/stock_market_data-EVOK.csv
YahooFinanceDataScraper/stock_market_data-EZGO.csv
YahooFinanceDataScraper/stock_market_data-HSAQ.csv
YahooFinanceDataScraper/stock_market_data-NAMS.csv
YahooFinanceDataScraper/stock_market_data-NMRD.csv
YahooFinanceDataScraper/stock_market_data-SCLX.csv
YahooFinanceDataScraper/stock_market_data-SNAP.csv
YahooFinanceDataScraper/stock_market_data-TNON.csv
YahooFinanceDataScraper/stock_market_data-WRLD.csv
YahooFinanceDataScraper/stock_market_data-XM.csv